body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url('chef.jpeg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #ff6347;
    font-family: cursive;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #ff6347;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff7f50;
}

p {
    text-align: center;
}

a {
    color: #ff6347;
}

a:hover {
    text-decoration: underline;
}
